In [3]:
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd
from bokeh.plotting import figure, show, output_notebook, reset_output
from math import pi
from pandas.tseries.offsets import BDay
import json
import pandas_gbq
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import requests
import matplotlib.dates as mdates

In [4]:
personal_cred = json.loads('{"type":"service_account","project_id":"tr-data-workbench","private_key_id":"1c715a521ff59da097178dd1ab3433ec419b84af","private_key":"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC2+XxOal6ShiEH\\ngEXk7fDvJikzPQBBGF78ULXZ6dF2exLAcVsjJfRLASx21QVS7U20up4y2tWZ1bE8\\n8lloLkJstxJsTLIAx/9+Xwj6ur6kTsUxPYD5FwQGtsE7V7W1JgsiNvRBwFc2azHU\\n+sgkF31oA44kcwBbi7ltpP11dORQOJ+ldQpFq7KnUtL/POTbTfKlBlcrrX3Rkm7c\\n/9pFcR5FEQ8ApYagsdFgYHGSay8YLkOZjHNgIpW4ybAXI5OnbIxO3T1PeZDbjpEB\\nvoFieRZ2/IuiGjVNhE2WkTgz5QMwBapoYwtRDTpUlAb5eRfSRpRvKTgFAnQpLbAm\\nPi38IbFRAgMBAAECggEAIw3V8kHvn1uh/UlmWo75Px/M+duAbngoTmd6B2cDsZKv\\ni33MC4ZMcIgniBaUgAglgG/WOgDxthiZ7YayeUKPiDtkhKoG2h52xLOZSUu4lUrf\\n/Wh+inoN0+l0SJWroqpIrMPhdK1QKAVOVTK8YCm95Uz1EOeVVHSG0EoxIq0DxphX\\ngGDcDTS372SFoI8CQxFw7CTOQCe7zwgcgJlQekmwhZm8yyCVEYzo5xlo4XciLE33\\njLpdgWjjM7YVwqh94IiK2hXmt30mY3ioVt+r0iNxe4xR2wBSOXnLGRvDGb0hPBOu\\nkbvcV+MZHcEkYjOM70+ZvM6BbIH8SCcuopVOrbFSCQKBgQDh8OOXTYrh1IIlQynj\\n/4JZzuppcX5uffkMVQqX4gZOOp2d2NIme2e0S6ix059G554jPx8bbpXor4hEeKxr\\nSjSe3mk5wqRzYXptqXoo17QPZmvpVi+2RfdnGUFhhZLJbwhEHmqLXJMe7W0e5At9\\nzyIVnzK3DheTRjIPS6pUxn2LpQKBgQDPUT5iQj0IKINSEnjKj1IJAd7Vbxwwraag\\njTOuHTFHByHi5Asdy62gF+HIRUkA9tPNUCmqhocBYAw0VpPGCRAEd3ENHXKQrMax\\nSROcbsT+mm6ymgEK2B/GPtydCjY7PPMHTmrCxsPV1koq147Ain9Ru649IOQdCv98\\ne9lm3YnPPQKBgCDbwo2PhmIfYKoAoYf58cAT2n1pNwTkpyKG/5plEZuw5Jk/Hhjg\\nm41Z73elGiXaq2He3SxFIeIMHRowHosf6JUuLUlsKDRreb2XByAHdrVCpPDzSs8M\\nT9Wbk6mWHmnTDvWxIrePyAmYZ+U1LwKl7AQO+fYrQ3x0mfUlgOkBUOLNAoGAWzZh\\nfhWqiIZakKdz4ZsA+tmJ0tnZy0j7gLPfQwGxBpEKxaqTgX51W3RmcBibsALo2PIm\\nAtLBX0eE1xooVf7yvyRV5vFH0INTv/ho2nCZ13LWtVmwj7ba8/wAUE+H4LRGMLa9\\nngiZbOGlLAg+1FObBLjQRjDMbELEeV58HhfmY/kCgYEAkxcuBL0gLq06JoLtDSC6\\n7Bfp/Fj4IV6OChAYN60SFU8VnDoopV6sA+5CiZbWzu2ob+Agh/i7PQQxSs1s1tR1\\nsauVB8DUXUqAztSfKdymKXWafpUnTmwXzsd849Z75Y0Er/HwLsgB30GDhQ+BVnKJ\\n4Ih5xzWVb6ofozTA8IdHh2E=\\n-----END PRIVATE KEY-----\\n","client_email":"s4s8bso2qk5cvv8e5ts8ajhmsq8b0e@tr-data-workbench.iam.gserviceaccount.com","client_id":"113639508953850221246","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/s4s8bso2qk5cvv8e5ts8ajhmsq8b0e%40tr-data-workbench.iam.gserviceaccount.com"}') # your personal key for Tick History on BigQuery
proj = u'tr-data-workbench'
cred = service_account.Credentials.from_service_account_info(personal_cred)

In [5]:
# The query to send to BigQuery
query = """
    SELECT 
      RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type 
    FROM
      `tr-data-workbench.Futures.L1_Q4_2018`
    WHERE 
        Type in ("Trade", "Quote")
        AND
        Date_Time between '2018-10-01 9:00:00' and '2018-10-5 16:00:00'
        AND
        RIC="CLc1"
    ORDER BY Date_Time
    
"""
df = pandas_gbq.read_gbq(query, project_id=proj, credentials=cred, dialect='standard')

# Update the index to be a DateTimeIndex. Remove and timezone localization, which can effect plotting.
df['t'] = pd.to_datetime(df.Date_Time)
df.set_index('t', drop=True, inplace=True)
df = df.tz_localize(None)

display(df.head())
display(df.tail())

MemoryError:

NameError: name 'final_df' is not defined

In [41]:
from pandas.tseries.offsets import BDay

In [45]:
date_range=pd.date_range(start="2018-10-01", end="2018-12-31", freq=BDay())

In [48]:
int( np.ceil(len(date_range)/5))
print(len(date_range))

66

In [1]:
part_query1 = """SELECT 
      RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type 
    FROM
      `tr-data-workbench.Futures.L1_Q4_2018`
    WHERE 
        Type in ("Trade", "Quote")
        AND
        Date_Time between
"""

ric_list = ["NGc1", "CLc1"]
for ric in ric_list:
    part_query2 = " AND RIC=" + "'" + ric + "'" + " ORDER BY Date_Time"
    
    for i in range(int( np.ceil(len(date_range)/5))):
        file_name = os.getcwd() + "/TickData" + ric + "_"+ str(date_range[(0+i*5)]) + "_" + str(date_range[(5+i*5)]) + ".json"
        if os.path.exists(file_name):
            next
        else:
            query =  part_query1 + "'" + str(date_range[(0+i*5)]) + " 8:00:00" + "'" + "and" + "'" + str(date_range[(5+i*5)]) + " 16:00:00" + "'" + part_query2    
            df = pandas_gbq.read_gbq(query, project_id=proj, credentials=cred, dialect='standard')
            display(df)
            with open(file_name, "+w") as f:
                f.write(df.to_json())
            del df

SyntaxError: invalid syntax (<ipython-input-1-f78802391d47>, line 23)

In [12]:
from bokeh.plotting import figure
from bokeh.io import output_file, show

p = figure(title="WTI Oil Price at National Day 2018",
            x_axis_label='Date',
            y_axis_label='Price')
p.line(df.index, df.Bid_Price, legend="Price", line_width=2)
output_file("lines.html")
show(p)

In [52]:
query_list

'SELECT \n      RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type \n    FROM\n      `tr-data-workbench.Futures.L1_Q4_2018`\n    WHERE \n        Type in ("Trade", "Quote")\n        AND\n        Date_Time between\n\'2018-10-18 00:00:00 8:00:00\'and\'2018-10-25 00:00:00 16:00:00\' AND\n        RIC="CLc1"\n    ORDER BY Date_Time\n'

In [12]:
jString = df.reset_index().to_json()

In [14]:
with open('trial.json', "+w") as f:
    f.write(jString)

df = pd.read_json('trial.json')

In [17]:
df.set_index("t").sort_index()

,RIC,Date_Time,Bid_Price,Bid_Size,Ask_Price,Ask_Size,Price,Volume,Type
t,,,,,,,,,
1538384400287,CLc1,2018-10-01 09:00:00.287,73.33,18.0,73.34,17.0,NaN,NaN,Quote
1538384402699,CLc1,2018-10-01 09:00:02.699,73.33,16.0,73.34,17.0,NaN,NaN,Quote
1538384402699,CLc1,2018-10-01 09:00:02.699,73.33,16.0,73.34,18.0,NaN,NaN,Quote
1538384407255,CLc1,2018-10-01 09:00:07.255,73.33,17.0,73.34,18.0,NaN,NaN,Quote
1538384407543,CLc1,2018-10-01 09:00:07.543,73.33,21.0,73.34,18.0,NaN,NaN,Quote
1538384407543,CLc1,2018-10-01 09:00:07.543,73.33,20.0,73.34,18.0,NaN,NaN,Quote
1538384407543,CLc1,2018-10-01 09:00:07.543,73.33,19.0,73.34,18.0,NaN,NaN,Quote
1538384407543,CLc1,2018-10-01 09:00:07.543,73.33,21.0,73.34,18.0,NaN,NaN,Quote
1538384407543,CLc1,2018-10-01 09:00:07.543,73.33,22.0,73.34,18.0,NaN,NaN,Quote
1538384407563,CLc1,2018-10-01 09:00:07.563,73.33,21.0,73.34,18.0,NaN,NaN,Quote
1538384407563,CLc1,2018-10-01 09:00:07.563,73.33,23.0,73.34,18.0,NaN,NaN,Quote
1538384409383,CLc1,2018-10-01 09:00:09.383,NaN,NaN,NaN,NaN,73.34,1.0,Trade
1538384409383,CLc1,2018-10-01 09:00:09.383,73.33,21.0,73.34,17.0,NaN,NaN,Quote
1538384409383,CLc1,2018-10-01 09:00:09.383,73.33,23.0,73.34,17.0,NaN,NaN,Quote
1538384409383,CLc1,2018-10-01 09:00:09.383,73.33,21.0,73.34,17.0,NaN,NaN,Quote
1538384409647,CLc1,2018-10-01 09:00:09.647,NaN,NaN,NaN,NaN,73.33,1.0,Trade
1538384409648,CLc1,2018-10-01 09:00:09.648,73.33,20.0,73.34,17.0,NaN,NaN,Quote
1538384409651,CLc1,2018-10-01 09:00:09.651,73.33,19.0,73.34,17.0,NaN,NaN,Quote
1538384409804,CLc1,2018-10-01 09:00:09.804,73.33,21.0,73.34,16.0,NaN,NaN,Quote
1538384409804,CLc1,2018-10-01 09:00:09.804,73.33,20.0,73.34,16.0,NaN,NaN,Quote
1538384409804,CLc1,2018-10-01 09:00:09.804,NaN,NaN,NaN,NaN,73.34,1.0,Trade
1538384409804,CLc1,2018-10-01 09:00:09.804,73.33,22.0,73.34,16.0,NaN,NaN,Quote
1538384409804,CLc1,2018-10-01 09:00:09.804,73.33,19.0,73.34,16.0,NaN,NaN,Quote
1538384411147,CLc1,2018-10-01 09:00:11.147,73.33,19.0,73.34,16.0,NaN,NaN,Quote
1538384411148,CLc1,2018-10-01 09:00:11.148,73.33,15.0,73.34,19.0,NaN,NaN,Quote
1538384411148,CLc1,2018-10-01 09:00:11.148,73.33,15.0,73.34,16.0,NaN,NaN,Quote
1538384411148,CLc1,2018-10-01 09:00:11.148,73.33,15.0,73.34,18.0,NaN,NaN,Quote
1538384411148,CLc1,2018-10-01 09:00:11.148,73.33,17.0,73.34,16.0,NaN,NaN,Quote
1538384411148,CLc1,2018-10-01 09:00:11.148,73.33,16.0,73.34,16.0,NaN,NaN,Quote
1538384411148,CLc1,2018-10-01 09:00:11.148,73.33,15.0,73.34,17.0,NaN,NaN,Quote
...,...,...,...,...,...,...,...,...,...
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,37.0,74.64,10.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,37.0,74.64,9.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,37.0,74.64,9.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,37.0,74.64,9.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,39.0,74.64,7.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,37.0,74.64,7.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,37.0,74.64,8.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,45.0,74.64,17.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,40.0,74.64,7.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,37.0,74.64,8.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,40.0,74.64,9.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,41.0,74.64,17.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,36.0,74.64,9.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,41.0,74.64,9.0,NaN,NaN,Quote
1538409599790,CLc1,2018-10-01 15:59:59.790,74.63,38.0,74.64,7.0,NaN,NaN,Quote
1538409599794,CLc1,2018-10-01 15:59:59.794,74.63,37.0,74.64,9.0,NaN,NaN,Quote
1538409599794,CLc1,2018-10-01 15:59:59.794,74.63,37.0,74.64,8.0,NaN,NaN,Quote
1538409599794,CLc1,2018-10-01 15:59:59.794,74.63,36.0,74.64,9.0,NaN,NaN,Quote
1538409599794,CLc1,2018-10-01 15:59:59.794,74.63,37.0,74.64,9.0,NaN,NaN,Quote
1538409599806,CLc1,2018-10-01 15:59:59.806,74.63,36.0,74.64,9.0,NaN,NaN,Quote
1538409599806,CLc1,2018-10-01 15:59:59.806,74.63,36.0,74.64,8.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,32.0,74.64,9.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,32.0,74.64,10.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,31.0,74.64,17.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,31.0,74.64,16.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,32.0,74.64,12.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,32.0,74.64,11.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,32.0,74.64,16.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,31.0,74.64,18.0,NaN,NaN,Quote
1538409599946,CLc1,2018-10-01 15:59:59.946,74.63,30.0,74.64,18.0,NaN,NaN,Quote

In [13]:
open("c:/Users/canze/Bokeh-Dashboard/retrieve_data_gas.sql").read()

'SELECT\n      RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type\n    FROM\n      `tr-data-workbench.Futures.L1_Q4_2018`\n    WHERE\n        Type in ("Trade", "Quote")\n        AND\n        Date_Time between \'2018-10-01 9:00:00\' and \'2018-10-1 16:00:00\'\n        AND\n        RIC="NGc1"\n    ORDER BY Date_Time'

In [19]:
""" SELECT
    RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type
    FROM
    `tr-data-workbench.Futures.L1_Q4_2018`
    WHERE
    Type in ("Trade", "Quote")
    AND
    Date_Time between '2018-10-01 9:00:00' and '2018-10-1 16:00:00'
    AND
    RIC=""" +  " 'NGc1' " +" ORDER BY Date_Time"

' SELECT\n    RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type\n    FROM\n    `tr-data-workbench.Futures.L1_Q4_2018`\n    WHERE\n    Type in ("Trade", "Quote")\n    AND\n    Date_Time between \'2018-10-01 9:00:00\' and \'2018-10-1 16:00:00\'\n    AND\n    RIC= \'NGc1\'  ORDER BY Date_Time'

In [18]:
query

'\n    SELECT \n      RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type \n    FROM\n      `tr-data-workbench.Futures.L1_Q4_2018`\n    WHERE \n        Type in ("Trade", "Quote")\n        AND\n        Date_Time between \'2018-10-01 9:00:00\' and \'2018-10-1 16:00:00\'\n        AND\n        RIC="CLc1"\n    ORDER BY Date_Time\n    \n'

In [20]:
a = "NGc1"

In [21]:
"'" + a +"'"

"'NGc1'"

In [24]:
jString = df.reset_index().to_json()

In [25]:
jString

In [5]:
import pandas as pd
import os

In [12]:
final_df = pd.read_json( os.getcwd() + "/TRHist.json" )

In [13]:
final_df.

             CLc1   NGc1
2016-11-01  46.32  2.844
2016-11-02  45.48  2.768
2016-11-03  44.63  2.810
2016-11-04  44.10  2.757
2016-11-07  44.91  2.826
2016-11-08  44.80  2.607
2016-11-09  45.29  2.682
2016-11-10  44.24  2.647
2016-11-11  43.10  2.600
2016-11-14  43.65  2.746
2016-11-15  45.73  2.700
2016-11-16  45.31  2.751
2016-11-17  44.86  2.680
2016-11-18  45.31  2.838
2016-11-21    NaN  2.960
2016-11-22  47.83  2.925
2016-11-23  47.91  2.995
2016-11-25  45.91  3.066
2016-11-28  46.84    NaN
2016-11-29  45.20  3.315
2016-11-30  48.94  3.339
2016-12-01  50.83  3.528
2016-12-02  51.64  3.451
2016-12-05  50.92  3.586
2016-12-06  50.88  3.628
2016-12-07  49.80  3.556
2016-12-08  50.88  3.707
2016-12-09  51.45  3.708
2016-12-12  52.35  3.505
2016-12-13  52.42  3.470
...           ...    ...
2018-09-20    NaN  2.948
2018-09-21  70.70  2.979
2018-09-24  72.20  3.040
2018-09-25  72.04  3.065
2018-09-26  71.99    NaN
2018-09-27  72.17  3.058
2018-09-28  73.50  3.000
2018-10-01  75.44  3.109
2018-10-02  75.01  3.157
2018-10-03  76.17  3.235
2018-10-04  74.62  3.184
2018-10-05  74.25  3.139
2018-10-08  74.17  3.277
2018-10-09  74.64  3.302
2018-10-10  72.58  3.267
2018-10-11  70.90  3.226
2018-10-12  71.45  3.143
2018-10-15  71.67  3.252
2018-10-16  72.12  3.249
2018-10-17  70.02  3.315
2018-10-18  68.45  3.216
2018-10-19  68.56  3.219
2018-10-22    NaN  3.125
2018-10-23  66.05  3.213
2018-10-24  66.31  3.171
2018-10-25  66.95  3.164
2018-10-26  67.57  3.186
2018-10-29  66.65    NaN
2018-10-30  66.32  3.190
2018-10-31  64.83  3.270

[504 rows x 2 columns]

In [18]:
from datetime import datetime as dt

In [20]:
sd = dt(2017,10,31)
ed = dt(2018,3,31)

In [22]:
sub_df = final_df.loc[sd:ed]["NGc1"]

In [25]:
sub_df.median()

2.7904999999999998

In [28]:
dff = pd.DataFrame( {"Mean": sub_df.resample("1M").mean()})

In [29]:
dff

                Mean
2017-10-31  2.902000
2017-11-30  3.053200
2017-12-31  2.771211
2018-01-31  3.133100
2018-02-28  2.664833
2018-03-31  2.697050

MemoryError: